# --- Core Application & Web Interface ---
flask
python-dotenv

# --- Data Handling and Technical Analysis ---
pandas
numpy<2.0.0
pandas-ta

# --- Machine Learning ---
scikit-learn
joblib

# --- Asynchronous Networking ---
aiohttp
websockets


setuptools
